  body {
      background-color: lightseagreen;
  }
  
    h2 {
      color: blue;
      text-align: center;
  }
  
  p {
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
  }